<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head lang="en">
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/webjars/font-awesome/5.0.6/web-fonts-with-css/css/fontawesome-all.min.css"/>
    <link rel="stylesheet" type="text/css" href="/style/style.css" />
    <link rel="manifest" href="/manifest.json" />
    <title>CV-React</title>
</head>
<body>
<nav class="navbar navbar-dark bg-dark justify-content-between">
    <a class="navbar-brand text-white">CV-React</a>
    <div>
        <span sec:authorize="isAuthenticated()"><span class="text-white">Hello, <span th:text="${#authentication.name}">user</span></span> <a th:href="@{/logout}" class="btn btn-outline-danger my-2 my-sm-0">Log Out</a></span>
        <span sec:authorize="isAnonymous()"><a th:href="@{/login}" class="btn btn-outline-success my-2 my-sm-0">Log in</a><a href="/new" class="btn btn-outline-primary my-2 my-sm-0">Sign in</a></span>
    </div>
</nav>
<div id="root"></div>

<script src="/built/bundle.js"></script>

</body>
</html>